<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-color: aquamarine;
        }
        h1{
            background-color: blanchedalmond;
            color: aliceblue;
        }
    </style>
</head>
<body>
    <h1>v-for指令用法</h1><hr>
    <div id="add">
        <ul v-for="item in sortItems">
            <li>
                {{item}}
             </li>
        </ul><hr>
        <ul>
            <li v-for="(student,index) in sortstudents">
                {{index+1}}:{{student.name}}-{{student.age}}
            </li>
        </ul><hr>
        <ul>
            <li v-html="msgHtml"></li>
        </ul>
    </div>
    <script>
        var vue=new Vue({
            el:"#add",
            data:{
                items:[30,20,40,60,25,35,50,45,5],
                students:[
                    {name:'jspang',age:32},
                    {name:'Panda',age:30},
                    {name:'PanPaN',age:21},
                    {name:'King',age:45}
                ],
                msgHtml:'<h2>fsdfhggehrge</h2>'
            },
            computed:{
                sortItems:function(){
                    return this.items.sort(itemsnumber);
                },
                sortstudents:function(){
                    return sortByKey(this.students,'age');
                }
            }
        })
        function itemsnumber(a,b){
            return a-b;
        }
        //数组对象方法排序:
        function sortByKey(array,key){
            return array.sort(function(a,b){
                var x=a[key];
                var y=b[key];
                return ((x<y)?-1:((x>y)?1:0));
            });
        }
    </script>
</body>
</html>